* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


body {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}


label {
    font-size: .85rem;
    color: #404040;
}

.link:visited {
    color: rgb(255, 180, 42);
}

.link {
    color: rgb(255, 180, 42);
}

.getButton {
    padding-left: 2px;
    padding-right: 2px;

    font-weight: bold;
}

#page {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#topbar {
    height: 120px;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    background-image: url('/images/space.svg');
}

#solarFlare {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

#flareDays {
    width: auto;
}

#flareData {
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: none;
    border-spacing: 15px;
    border-radius: 20px;
    color: white;
}

#flareHeader {
    text-align: center;
}


.flareRow {
    font-size: .85rem;
}

.flareEle {
    text-align: center;
}


#roundnessCheck {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}


#epicImg {
    border-radius: 40px;
}

#footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 10px;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #ccc;
    align-items: center;
    margin-top: 30px;
}

#footer a {
    color: gray;
    text-decoration: none;
}

@media screen and (max-width:450px) {
    #flareData {
        margin: 0;
        border-spacing: 2px;
        font-size: .85rem;
    }
}

@media screen and (max-width:960px) {
    .footerPos {
        position: relative !important;
    }
}

@media screen and (min-width:961px) {
    .footerPos {
        position: absolute;
    }
}
